<div class="gmih-form-wrapper">
  <script type="text/javascript">var submitted=false;</script>
  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='../thank-you/'}"></iframe>

  <form class="gmih-form" action="https://docs.google.com/forms/d/e/1FAIpQLSffmrCA_7FOU2k70x6W-zY7J4EmcV3Gk3Xz6s0GnYo44ed4Jg/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
    <ol class="gmih-form-list">
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA">Do you agree to the guild guidelines? (Please see <a href="http://gmihguild.com/about/">About</a> and <a href="http://gmihguild.com/raiding/">Raiding</a>)</label>
          <input class="gmih-input gmih-ea" type="text" name="entry.1807545177" id="gmih-EA" value="" required>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA">What is your main character's name?</label>
          <input class="gmih-input gmih-ea" type="text" name="entry.2012986015" id="gmih-EA" value="" required>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA">Please provide your Armory link.</label>
          <input class="gmih-input gmih-ea" type="url" name="entry.985896112" id="gmih-EA" value="" required>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA">Why do you want to join &lt;Great Moments in History&gt;? What are you looking for in a guild?</label>
          <textarea class="gmih-input gmih-textarea gmih-ea" name="entry.1057475616" id="gmih-EA" value="" required></textarea>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA">What spec do you play? (Also list any secondary specs you play).</label>
          <input class="gmih-input gmih-ea" type="text" name="entry.1868631442" id="gmih-EA" value="" required>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA">What is your previous raiding experience?</label>
          <textarea class="gmih-input gmih-textarea gmih-ea" name="entry.2062051661" id="gmih-EA" value="" required></textarea>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA">How do you typically prepare for new boss fights?</label>
          <textarea class="gmih-input gmih-textarea gmih-ea" name="entry.703878619" id="gmih-EA" value="" required></textarea>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA">What's your favorite location in the game and why?</label>
          <textarea class="gmih-input gmih-textarea gmih-ea" name="entry.537655208" id="gmih-EA" value="" required></textarea>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA">Do you have any final questions or comments that you wish the guild to consider?</label>
          <textarea class="gmih-input gmih-textarea gmih-ea" name="entry.1976047188" id="gmih-EA" value="" required></textarea>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA">How should we contact you? (Please list your Discord, BattleTag, or other info).</label>
          <input class="gmih-input gmih-ea" type="text" name="entry.275828721" id="gmih-EA" value="" required>
                <span class="gmih-validation"></span>
        </div>
      </li>
    </ol>
    <input class="gmih-submit" type="submit" value="Submit Application" />
    <p class="small-text gmih-submit__info"><em>If you experience any technical errors or have questions about the application, please contact Rissi at Rissy#1444(btag) or Rissy#7013(Discord).</em></p>
  </form>

</div>