<div class="gmih-form-wrapper">
  <script type="text/javascript">var submitted=false;</script>
  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='../thank-you/'}"></iframe>

  <form class="gmih-form" action="https://docs.google.com/forms/u/6/d/e/1FAIpQLSeI8eY-QXT8TGWyDXTlsRi3p2-ZrTA99XRBPkTiqTYWEK8K5w/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
    <ol class="gmih-form-list">
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA1">Do you agree to the guild guidelines? (Please see <a href="http://classic.gmihguild.com/raiding">Raiding Expectations</a>)</label>
          <input class="gmih-input gmih-ea" type="text" name="entry.1807545177" id="gmih-EA1" value="" required>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA2">What is your character's name?</label>
          <input class="gmih-input gmih-ea" type="text" name="entry.2012986015" id="gmih-EA2" value="" required>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA3">What is your desired role and/or specialization?</label>
          <input class="gmih-input gmih-ea" type="text" name="entry.985896112" id="gmih-EA3" value="" required>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA4">Why do you want to join &lt;Great Moments in History&gt;? What are you looking for in a guild?</label>
          <textarea class="gmih-input gmih-textarea gmih-ea" name="entry.1057475616" id="gmih-EA4" value="" required></textarea>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA5">What is your previous raiding and WoW experience?</label>
          <textarea class="gmih-input gmih-textarea gmih-ea" name="entry.2062051661" id="gmih-EA5" value="" required></textarea>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA6">What's your favorite location in the game and why?</label>
          <textarea class="gmih-input gmih-textarea gmih-ea" name="entry.537655208" id="gmih-EA6" value="" required></textarea>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA7">How did you hear about us?</label>
          <textarea class="gmih-input gmih-textarea gmih-ea" name="entry.1652620349" id="gmih-EA7" value="" required></textarea>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA8">Do you have any final questions or comments that you wish the guild to consider?</label>
          <textarea class="gmih-input gmih-textarea gmih-ea" name="entry.1976047188" id="gmih-EA8" value="" required></textarea>
                <span class="gmih-validation"></span>
        </div>
      </li>
      <li>
        <div class="gmih-input-wrapper">
          <label class="gmih-label" for="gmih-EA9">How should we contact you? (Please list your Discord, BattleTag, or other info).</label>
          <input class="gmih-input gmih-ea" type="text" name="entry.275828721" id="gmih-EA9" value="" required>
                <span class="gmih-validation"></span>
        </div>
      </li>
    </ol>
    <input class="gmih-submit" type="submit" value="Submit Application" />
    <p class="small-text gmih-submit__info"><em>If you experience any technical errors or have questions about the application, please contact Rissy#7013(Discord).</em></p>
  </form>

</div>