		<footer class="site-footer clearfix">
			<div class="site-footer__container">   
				<section class="copyright"><a href="http://gmihguild.com">Great Moments in History</a> &copy; <span id="copyright-date"><span></section>
			</div>
        </footer>

	</div>

		<script>
		document.getElementById('copyright-date').innerHTML = new Date().getFullYear();
		</script>

		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/js/index.js"></script>

</body>