<body class="{{ page.layout }}">

  <div class="site-wrapper">
      {% if page.layout == "default" %}
      <header class="main-header blend-multiply background-image">
      {% elsif page.layout == "page" %}
      <header class="page-header">
      {% endif %}
      <nav class="main-nav clearfix">
        <a href="https://classic.gmihguild.com" class="blog-logo"><img class="logo-image" src="../images/gmih-logo.svg"></a>
        <div class="nav-container">
          <a href="https://classic.warcraftlogs.com/guild/id/479857" class="menu-button">Logs &rarr;</a>
          <a href="https://discordapp.com/invite/HB56KdT" class="menu-button">Discord &rarr;</a>
          <a style="display:none" href="../about/" class="menu-button">About</a>
          <a style="display:none" href="../raiding/" class="menu-button">Raiding</a>
          <a style="display:none" href="../apply/" class="menu-button special-nav-button">Apply</a>
        </div>
      </nav>
      <div class="vertical">
        <div class="main-header-content inner">
        {% if page.url == "/" %}
          <h1 class="page-title"><span class="light-text">Great Moments</span> <span class="accent-text break-small">in History</span></h1>
          <h2 class="page-description">Atiesh - US</h2>
          <a style="display:none" class="typeform-share button gmih header-button" href="../apply/">Apply Now</a>
          <p style="margin-top: 5rem;margin-bottom: 8rem;">To find out more about the guild, get in touch with Pilcher#1733 (bnet) or join our <a href="https://discordapp.com/invite/HB56KdT">Discord</a>.</p>
        </div>
      </div>
        <a href="#content" data-offset="-45" class="scroll-down icon-arrow-left"><span class="hidden">Scroll Down</span></a>
        {% else %}
          <h1 class="page-title">{{ page.title }}</h1>
        {% endif %}
    </header>

